@font-face {
  font-family: zouFont;
  src: url("../002zouver.2-Regular.ttf") format("truetype");
}

html {
  touch-action: manipulation;
}

header {
  font-family: zouFont;
  height: 70px;
  width: 100%;
}

@media (max-width: 355px) {
  .header-title {
    margin-bottom: 8px !important;
    font-size: 24px !important;
  }
  .header-img {
    width: auto;
    height: 40px;
  }
}

.body {
  max-width: 500px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  /* background-color: #f3f6f9; */
  background-color: #6c757d;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (min-width: 767px) {
  html {
    font-size: 65%;
  }
}

.teki_ST {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.teki_ST li {
  box-sizing: border-box;
  width: 50%;
  /* min-height: 350px; */
  padding: 10px;
  text-align: left;
  border: 3px solid rgb(235, 241, 244);
  padding: 5px;
  border-radius: 5px;
  /* 角を丸める */
}

.trainer_ST {
  box-sizing: border-box;
  text-align: left;
  border: 3px solid rgb(235, 241, 244);
  padding: 5px;
  border-radius: 5px;
  /* 角を丸める */
}

.my_ST {
  box-sizing: border-box;
  text-align: left;
  border: 3px solid rgb(235, 241, 244);
  padding: 5px;
  border-radius: 5px;
  /* 角を丸める */
  min-height: 160px;
  width: 100%;
}

select {
  font-size: 12px !important ;
  font-weight: bold;
  line-height: 2.8rem;
  border-radius: 0;
  height: 48px;
  padding: 5px 0;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #7f7f7f;
  color: #2d2d2d;
  cursor: pointer;
  appearance: none;
  text-align: center;
  /* ↓後で修正 */
  width: 65%;
}

@media screen and (max-width: 480px) {
  select {
    font-size: 0.8rem;
  }
}

.A {
  display: inline-block;
  /* background-color: #b6beff; */
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  /* 角を丸める */
  transition: background-color 0.3s ease;
  /* 色変化のアニメーションを追加 */
}

.A:active {
  background-color: #8192ff;
  /* 押されたら色を変える */
}

.B {
  /* background: #ffaf74; */
  height: auto;
  /* width: 350px; */
  border-radius: 5px;
  /* 角を丸める */
  border: 3px solid rgb(235, 241, 244);
}

.C {
  display: block !important;
}

.ST {
  font-weight: bold;
  margin: 0%;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.ST::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #00000028;
}

.Rank {
  /* padding: 0 20%; */
  justify-content: center;
}

.myRank,
.tekiRank {
  margin: 0 20px;
}

.rank-value {
  margin: 0 5px;
}

.rank-section {
  display: flex;
  align-items: center;
}

.rank-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rnk-button {
  background-color: hsla(0, 0%, 0%, 0.193);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px !important;
  margin: 4px 2px !important;
  cursor: pointer;
  border-radius: 15px !important;
  /* padding: 2px 8px; */
  transition-duration: 0.4s;
  min-width: 33px;
  min-height: 34px;
}

.rnk-button:hover {
  background-color: #56bcd3;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.myResult {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.myResult li {
  box-sizing: border-box;
  width: 50%;
  /* min-height: 350px; */
  padding: 10px;
  text-align: left;
  border: 3px solid rgb(235, 241, 244);
  padding: 5px;
  border-radius: 5px;
  /* 角を丸める */
}

.hosei {
  color: red;
}

.itemMoji {
  color: rgba(0, 0, 0, 0.63);
  font-weight: bold;
}

.moji {
  color: #0c2bf2;
}

.damage {
  padding: 5px 10px;
}

.damage p {
  margin: 0%;
}

.highlight td {
  background-color: rgba(255, 30, 0, 0.5);
}

.highlightR td {
  background-color: rgba(0, 30, 255, 0.5);
}

.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: 300px;
  font-size: 1.875rem;
}

.toggle-content {
  display: none;
}

#myItemAutoApply {
  background-color: red !important; /* ボタンの背景色を赤に設定（!importantを使用） */
  /* 他のスタイルプロパティを追加する場合はここに記述 */
}

input[type="radio"].btn-check:not(:checked) + label.btn {
  opacity: 0.8;
  color: #869198 !important;
}

.select2-container--default .select2-selection--single {
  height: calc(2.25rem + 2px);
  padding: 0.25rem 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: calc(2.25rem + 2px);
}

/* 本来のチェックボックスを非表示 */
.app2_checkbox input[type="checkbox"] {
  display: none;
}
.app2_checkbox input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block;
  box-sizing: content-box;
  position: relative;
  width: 90px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
}
.app2_checkbox input[type="checkbox"]:checked + label {
  background-color: #0078db;
  border-color: #0078db;
}
.app2_checkbox input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px; /* widthと同じ 上のラベルの高さに揃える */
  left: 0;
  top: -5px;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.app2_checkbox input[type="checkbox"]:checked + label:before {
  left: auto;
  right: auto;
  -webkit-transform: translateX(110%);
  transform: translateX(230%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-color: #0078db;
}

.Burned {
  margin: 0 25%;
}

.kabe {
  margin: 0 20%;
}

.tabs-nav li {
  background-color: #ffdfdf !important ;
}

.myResult_tab2 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.myResult_tab2 li {
  box-sizing: border-box;
  width: 50%;
  /* min-height: 350px; */
  padding: 10px;
  text-align: left;
  border: 3px solid rgb(235, 241, 244);
  padding: 5px;
  border-radius: 5px;
  /* 角を丸める */
}

#myItemAutoApply_tab2 {
  background-color: red !important; /* ボタンの背景色を赤に設定（!importantを使用） */
  /* 他のスタイルプロパティを追加する場合はここに記述 */
}

.myResult_tab3 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.myResult_tab3 li {
  box-sizing: border-box;
  width: 50%;
  /* min-height: 350px; */
  padding: 10px;
  text-align: left;
  border: 3px solid rgb(235, 241, 244);
  padding: 5px;
  border-radius: 5px;
  /* 角を丸める */
}

#myItemAutoApply_tab3 {
  background-color: red !important; /* ボタンの背景色を赤に設定（!importantを使用） */
  /* 他のスタイルプロパティを追加する場合はここに記述 */
}

.select2-results__option {
  font-size: 12px;
}
